html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em arial, sans-serif;
  background: #D68533;
  color: #661A00;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}
  
img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: bold 175% arial, sans-serif;
  color: #661A00;
  letter-spacing: -1px;
  margin: 0 0 5px 0;
  padding: 15px 0 0 0;}

h2
{ font: bold 165% arial, sans-serif;}

h3
{ font: bold 125% arial, sans-serif;
  padding: 0 0 5px 0;
  color: #661A00;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: bold 110% arial, sans-serif;
  color: #D65C33;
  line-height: 1.5em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #1D1D1D;
  padding-bottom: 15px;}

h6
{ color: #DB704D;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #661A00;}

a:hover
{ text-decoration: underline;
  color: #661A00;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ margin: 2px 0 15px 17px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #contact, #footer_content, #banner_image
{ margin-left: auto; 
  margin-right: auto;
  background: #D68533;}

#site_heading
{ height: 150px;
  background: #B85C00;
  text-align: center;}
  
#header
{ height: 50px;
  background: transparent;
  text-align: center;}
  
#menubar
{ width: 960px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #B85C00;} 

ul#menu
{ 
  margin: 0;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font-size: 130%;
  letter-spacing: -1px;
  height: 35px;
  padding: 15px 20px 0 20px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: transparent;} 

ul#menu li.current
{ margin: 2px 0 0 0;
  background: transparent;}

ul#menu li.current a, ul#menu li.last a:hover
{ background: transparent;
  color: #661A00;}

ul#menu li a:hover
{ color: #661A00;}

#site_content
{ width: 960px;
  overflow: hidden;
  margin-top: 20px;
  background: #F5E0CC;}   

#site_heading H1
{ width: 940px;
  font: normal 400% arial, sans-serif;
  color: #FFF;
  letter-spacing: -6px;
  background: transparent;}
  
#site_heading H2
{ width: 940px;
  font: normal 180% arial, sans-serif;
  color: #FFF;
  letter-spacing: -1px;
  background: transparent;}

span
{ color: #661A00;}  

#content
{ text-align: left;
  width: 690px;
  margin-top: 10px;
  padding: 20px 20px 0 20px;
  float: left;}
  
.content_item
{ border-bottom: 2px solid #661A00;}

.tabla_datos td
{ border-bottom: 0.5px solid #E08566;}

.content_image
{ width: 148px;
  height: 148px;
  margin-top: 20px;
  float: left;
  border: 1px solid #E08566;}
  
.content_image_right
{ width: 148px;
  height: 148px;
  margin-top: 20px;
  float: right;
  border: 1px solid #E08566;}

  .content_right
{ width: 148px;
  height: 148px;
  margin-top: 20px;
  float: right;
}  
  
.content_text
{ width: 520px;
  float: right;
  margin-top: 20px;
  padding-left: 20px;}
  
.content_text_left
{ width: 520px;
  float: left;
  margin-top: 20px;
  padding-left: 20px;}

#banner_image {
	width: 210px;
}
#slider-wrapper {
    /*height: 200px;*/
	background: transparent;
	width: 210px;
}
#slider {
    background: url("../images/loading.gif") no-repeat scroll 50% 50% transparent;
    height: 150px;
    position: relative;
    width: 210px;
    border: 2px solid #FFF;
}
#slider img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
#slider a {
    border: 0 none;
    display: block;
}

.nivoSlider {
    position: relative;
}
.nivoSlider img {
    left: 0;
    position: absolute;
    top: 0;
}
.nivoSlider a.nivo-imageLink {
    border: 0 none;
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 6;
}
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}
.nivo-caption {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    font-family: arial;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    z-index: 8;
}
.nivo-caption p {
    margin: 0;
    padding: 5px;
}
.nivo-caption a {
    color: red;
    display: inline !important;
    text-decoration: none;
}
.nivo-caption a:hover {
    color: blue;
    text-decoration: underline;
}
.nivo-html-caption {
    display: none;
}
.nivo-directionNav a {
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    width: 30px;
    z-index: 9;
}
a.nivo-prevNav {
    left: 15px;
}
a.nivo-nextNav {
    background-position: -30px 50%;
    right: 15px;
}
.nivo-controlNav {
    bottom: -30px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.nivo-controlNav a {
    cursor: pointer;
    float: left;
    height: 22px;
    margin-top: 250px;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    z-index: 9;
}
.nivo-controlNav a.active {
    background-position: 0 -22px;
}  

.sidebar_container
{ float: left;
  width: 220px;
  height: 100%;
  margin: 20px 10px 20px 0;
  background: #D17519;}

.sidebar
{ float: right;
  width: 210px;
  padding-left: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% arial, sans-serif;
  padding: 0 15px 0 0;
  width: 201px;}

.sidebar h2
{ color: #661A00;}  
  
.sidebar h4
{ font-size: 125%;
  color: #FFF;}

.sidebar p
{ color: #FFF;}

.sidebar a
{ color: #661A00;}

.sidebar a:hover
{ text-decoration: none;}

.sidebar ul li, .sidebar ul li.selected
{ list-style: none; 
  margin: 15px 0;
  padding: 0;}

.sidebar li.selected, .sidebar li:hover
{ color: #661A00;
  text-decoration: none;} 
  
#footer
{ padding: 0 20px 0 20px;
  border-top: 1px solid #414141;
  background: #B85C00;}
  
#footer_content
{ font: bold 100% arial, sans-serif;
  height: 45px;
  padding: 35px 0 0 0;
  text-align: center; 
  background: #B85C00;
  color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: underline;}

#footer a:hover
{ text-decoration: none;}

/*JGAETE*/
input.textbox1 {
	background-color: transparent;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: white;
	color: #661A00;
	font-size: 15px;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat-x scroll 0 0 #D68533;
    border-color: #B85C00 #B85C00 #B85C00;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #661A00;
    cursor: pointer;
    font: bold 12px/1.3 "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
    outline: 0 none;
    overflow: visible;
    padding: 3px 10px;
    width: auto;
}

input[type="text"]:focus{
-moz-box-shadow: #D65C33 0 0 7px 0;
-webkit-box-shadow: #D65C33 0 0 7px 0;
-o-box-shadow: #D65C33 0 0 7px 0;
box-shadow: #D65C33 0 0 7px 0;
z-index: 1;
}

#user-data-div {
position: absolute;
top: 0;
right: 0;
display: block;
}

.user-data-div {
position: absolute;
top: 0;
right: 0;
display: block;
}

#banner-div {
position: absolute;
float: left;
top: 0;
display: block;
}

select{
font:100% Helvetica, Arial, Sans-Serif;
line-height:180%;
color:#661A00;
border-radius: 4px 4px 4px 4px;
}		
select:focus{
-moz-box-shadow: #D65C33 0 0 7px 0;
-webkit-box-shadow: #D65C33 0 0 7px 0;
-o-box-shadow: #D65C33 0 0 7px 0;
box-shadow: #D65C33 0 0 7px 0;
z-index: 1;
}

.spinner {
	display:none;
/*	background-color:#FFFFFF;
	position:absolute;
	width:100%;
	height:100%;
	z-index:20002;
	left:0;
	top:0;
	filter:alpha(opacity=60);
	opacity:0.6;
	background-image:url(images/loading_spinner.gif);
	background-repeat:no-repeat;
	background-position:center;
	list-style-position:outside;
	*/
}